
@model IEnumerable<FastEquipmentRental.Models.EquipmentRequest>

@{
    Layout = "_Layout";
    ViewBag.Title = "Request Details";
}

<h2>Request Details</h2>

<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Equipment Type</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Role</th>
            <th>Days</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var request in Model)
            {
                <td>@request.Id</td>
                <td>@request.EqType</td>
                <td>@request.Name</td>
                <td>@request.Email</td>
                <td>@request.Phone</td>
                <td>@request.Role</td>
                <td>@request.Days</td>
            }
        </tr>
    </tbody>
</table>

<br />
<h3>Description</h3>
@foreach (var request in Model)
{
    <p>@request.Details</p>
}

<button type="button" class="btn btn-success">Accept</button>
<button type="button" class="btn btn-secondary">Decline</button>
